*{
    margin: 0px;
    padding: 0px;
}


#root{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 50px auto;
}

#score_box{
    widows: 800px;
    height: 30px;
    font-size:20px;
    border-bottom:1px solid black;
}

table{
    width: 800px;
    height: 570px;
}
